header {
  width: 100vw;
  background: var(--white);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 100;
}

.navbar {
  width: 100%;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
}

.navbar__container h1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--very-dark-blue);
}

.navbar__container button {
  display: flex;
  place-items: center;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--very-dark-blue);
}

.navbar__container button:hover {
  cursor: pointer;
}

.theme .light,
.theme .dark {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#dark header {
  background-color: var(--dark-blue);
}

#dark .navbar__container h1,
#dark button {
  color: var(--white);
}
