.top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}

.search__input {
  width: 40%;
}
.search__input input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.8rem;
  color: var(--dark-gray);
}

.region {
  width: 100%;
  font-size: 2rem;
  padding: 0.3rem 7rem 0.3rem 0.3rem;
  transition: var(--transition-primary);
}

.region:hover {
  background: var(--light-gray);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  color: black;
}

.list__items.hide {
  display: none;
}

.main__content {
  gap: 6rem;
}
.filter__region {
  position: relative;
}

.region_container {
  width: 100%;
  position: absolute;
  margin-top: 1rem;
  background: var(--white);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--primary-box-shadow);
  padding: 1rem;
  z-index: 10;
}

.region_container.hide {
  display: none;
}
/*================ Start of country component ===================*/

.country {
  background: var(--very-light-gray);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--primary-box-shadow);
}

.flag__container {
  overflow: hidden;
  border-radius: var(--border-radius-sm);
}

.flag__container img {
  width: 100%;
  height: 20rem;
}

.country__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
  padding: 2rem;
  font-size: 1.8rem;
}

.country__content h3 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--very-dark-blue);
  margin-bottom: 1.5rem;
}

.country__content p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--very-dark-blue);
}

.country__content span {
  color: var(--dark-gray);
}

/*================ End of country component ===================*/

/*================ Start of Country Details ===================*/

.country_detail {
  width: 100%;
  display: flex;
  margin-top: 8rem;
  gap: 8rem;
}

.country_detail img {
  width: 50%;
}

.country__detail_content {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.country__detail_content h2 {
  font-size: 4rem;
  font-weight: 800;
  text-transform: capitalize;
}

.content {
  column-gap: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--very-dark-blue);
  margin-top: 2rem;
}

.content span {
  color: var(--dark-gray);
}

.border__countries {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 2rem;
}

.border__countries ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.border__countries span {
  font-size: 1.8rem;
  font-weight: 600;
}
.border__countries ul li {
  padding: 0.5rem 3rem;
}

/*================ End of Country Details ===================*/
