.top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}

.dropdown__list,
.serach__input,
.list__items {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  background-color: var(--white);
  border-radius: var(--border-raduis-sm);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.serach__input {
  width: 25%;
}
.serach__input input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.8rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--dark-gray);
}

.icon {
  font-size: 2rem;
}

.icon:hover {
  cursor: pointer;
}

.dropdown__list {
  position: relative;
}

.list__items {
  position: absolute;
  flex-direction: column;
  top: 19%;
  right: 3%;
  align-items: flex-start;
  /* padding-right: 3rem; */
}

.region {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.3rem 7rem 0.3rem 0.3rem;
  transition: var(--transition-primary);
}

.region:hover {
  background: var(--light-gray);
  border-radius: var(--border-raduis-sm);
  cursor: pointer;
  color: black;
}

.list__items.hide {
  display: none;
}
