.top__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}

.dropdown__list,
.search__input,
.list__items,
.back,
.border__countries ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  background: var(--white);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--primary-box-shadow);
}

.search__input {
  width: 25%;
}
.search__input input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.8rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--dark-gray);
}

.icon {
  font-size: 2rem;
}

.icon:hover {
  cursor: pointer;
}

.dropdown__list {
  position: relative;
}

.list__items {
  position: absolute;
  flex-direction: column;
  top: 19%;
  right: 3%;
  align-items: flex-start;
}

.region {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.3rem 7rem 0.3rem 0.3rem;
  transition: var(--transition-primary);
}

.region:hover {
  background: var(--light-gray);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  color: black;
}

.list__items.hide {
  display: none;
}

/* country component */

.country {
  background: var(--white);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--primary-box-shadow);
}

.flag__container {
  overflow: hidden;
  border-radius: var(--border-radius-sm);
}

.flag__container img {
  width: 100%;
}

.country__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
  padding: 2rem;
}

.country__details p {
  font-size: 1.4rem;
  font-weight: 600;
}

.country__details span {
  color: var(--dark-gray);
}
.main__content {
  gap: 8rem;
  height: 100vh;
}

/* Country Details */

.country_details {
  padding: 4rem 0;
}

.back {
  width: fit-content;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 0.5rem;
  color: black;
}

.back .icon {
  font-size: 2.5rem;
}

.country_detail {
  display: flex;
  margin-top: 5rem;
}

.country_detail .flag__container {
  width: 35%;
  border-radius: 0rem;
}

.country__detail_content {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 10rem;
  /* background: blue; */
  padding: 1rem;
}

.country__detail_content h2 {
  font-size: 4rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.content {
  column-gap: 20rem;
}

.content p {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--very-dark-blue);
}

.content span {
  color: var(--dark-gray);
}

.border__countries {
  display: flex;
  margin-top: 6rem;
  align-items: center;
  gap: 2rem;
}

.border__countries ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.border__countries span {
  font-size: 1.8rem;
  font-weight: 600;
}
.border__countries ul li {
  padding: 0.5rem 3rem;
}
