@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  background: none;
  border: none;
}

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --v-dark-blue: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --light-gray: #ced0d2;
  --dark-gray: hsl(0, 0%, 52%);
  --light-dark-gray: #e9ecef;
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  /* ========== Transitions ============ */
  --transition-primary: all 300ms eas-in-out;
  --transition-sec: all 500ms eas-in-out;

  /* ========== BORDER RADIUS ============ */
  --border-radius-sm: 0.5rem;
  --border-radius-m: 1rem;
  --border-radius-l: 2rem;
  --border-radius-circle: 50%;

  /* ========== BOX SHADOWS ============ */
  --primary-box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  color: var(--very-dark-blue);
  background: var(--very-light-gray);
  overflow-x: hidden;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
}

.grid__container {
  display: grid;
  gap: 1rem;
}

.grid__cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid__cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid__cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid__cols-5 {
  grid-template-columns: repeat(5, 1fr);
}

.icon {
  font-size: 2rem;
}

.icon:hover {
  cursor: pointer;
}

.dropdown__list,
.search__input,
.list__items,
.back,
.border__countries ul li {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  background: var(--white);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--primary-box-shadow);
  font-size: 1.8rem;
  font-weight: 600;
}

.back {
  padding: 1rem 3rem;
}
.back span {
  color: var(--very-dark-blue) !important;
}

.back .icon {
  font-size: 3rem;
}

/* THEME */

#light {
  background: var(--very-light-gray);
}
#dark {
  background: var(--v-dark-blue);
}

#dark body {
  background: var(--v-dark-blue) !important;
}

#dark .search__input,
#dark .dropdown__list,
#dark .list__items,
#dark .back,
#dark .border__countries ul li {
  background-color: var(--dark-blue);
  color: var(--white);
}

#light .search__input,
#light .dropdown__list,
#light .list__items,
#light .back,
#light .border__countries ul li {
  background-color: var(--very-light-gray);
}

#dark .back span {
  color: var(--white) !important;
}

/* ======================== */
@media screen and (max-width: 120rem) {
  html {
    font-size: 55.5%;
  }
}

@media screen and (max-width: 100rem) {
  html {
    font-size: 45.5%;
  }
}

@media screen and (max-width: 85rem) {
  .main__content {
    gap: 6rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 65rem) {
  html {
    font-size: 38.5%;
  }
  .main__content {
    gap: 6rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar__container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 65rem) {
  html {
    font-size: 38.5%;
  }
  .main__content {
    gap: 6rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    margin: 0 5rem;
  }

  .country_detail {
    flex-direction: column;
  }

  .country_detail img {
    width: fit-content;
  }
}

@media screen and (max-width: 38rem) {
  .main__content {
    gap: 6rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    margin: 0 5rem;
  }
  .top__container {
    flex-direction: column;
    gap: 2rem;
    margin: 0 5rem;
  }

  .search__input,
  .filter__region {
    width: 100% !important;
  }

  .navbar__container {
    margin: 0;
    justify-content: space-around !important;
  }
  .navbar__container a h1,
  .theme span {
    font-size: 2rem;
  }
}
